<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Shopping list</title>
</head>
<body>
    <h2>Shopping List</h2>
    <%for(var i = 0; i<items.length; i++){%>
        <li><%= items[i]%></li>
  <%  }%>

  <form action="/" method="post">
    <input type="text" name="addItem" id="addItem">

    <button type="submit">Add</button>
  </form>
</body>
</html>
